.manage-user-title {
    font-family: none!important;
}

button.MuiButtonBase-root.MuiTab-root.MuiTab-labelIcon.MuiTab-textColorPrimary.css-1afj5lb-MuiButtonBase-root-MuiTab-root {
    font-weight: bold;
    font-family: none;
}

th{
    font-weight: bold;
    font-family: none!important;
    text-align: center!important;
}
td {
    text-align: center!important;
}
